{% load static %}
{% load women_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css"
    <link type="text/css" href="{% static 'women/css/style.css' %}" rel="stylesheet"/>
    </link>
</head>
<body>
<header>
    {% nav_bar %}
</header>
<div class="container">
    <div class="row">
        <div class="col-2 bc1">
            {% if cat_selected == 0 %}
                <li class="selected">Все категории</li>
            {% else %}
                <li><a href="{% url 'home' %}">Все категории</a></li>
            {% endif %}
            {% show_categories '-name' cat_selected %}
        </div>
        <div class="col-10 bc2">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>