{% extends 'women/base.html' %}


{% block content %}
<div class="row">
    <div class="col-2 bc1">
        {% if cat_selected == 0 %}
            <li class="selected">Все категории</li>
        {% else %}
            <li><a href="{% url 'home' %}">Все категории</a></li>
        {% endif %}

        {% for c in cats %}
        {% if c.pk == cat_selected %}
            <li class="selected">{{c.name}}</li>
        {% else %}
            <li><a href="{{ c.get_absolute_url }}">{{c.name}}</a></li>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-10 bc2">
        {% for women in womens %}
        <div class="block_women">
            <h3>{{ women.title }}</h3>
            <p>{{ women.content|linebreaks|truncatewords:50 }}</p>
            {% if women.photo %}
                <img class="w-50" src="{{women.photo.url}}">
            {% endif %}
            <a class="btn btn-info" href="#">Подробнее</a>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}